.App {
  padding: 0 10%;
}

.app-carousel {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.card-stack {
  margin: auto;
  font-size: 20px;
  color: white;
  text-shadow: black 0 2px 3px;
}

.card-stack ul {
  list-style: none;
}

.card-stack ul li {
  margin: 10px 0;
}
