.App {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10%;
}

@media screen and (max-width: 1300px) {
  .App {
    column-gap: 5%;
    padding: 5%;
  }
}

@media screen and (max-width: 1200px) {
  .App {
    column-gap: 5%;
    padding: 5%;
    grid-template-columns: 1fr 1fr;
  }
}